<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:27017/StockService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="ServiceReference1.IStockService"
                name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
</configuration>