<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_ITestService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/TestService" binding="customBinding"
                bindingConfiguration="CustomBinding_ITestService" contract="TestServiceReference.ITestService"
                name="CustomBinding_ITestService" />
        </client>
    </system.serviceModel>
</configuration>