<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFaultService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50640/FaultService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFaultService" contract="FaultServiceReference.IFaultService"
                name="BasicHttpBinding_IFaultService" />
        </client>
    </system.serviceModel>
</configuration>