<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Server.WebHost.ShapeService">
        <endpoint binding="basicHttpBinding" address="" contract="Server.WebHost.IShapeService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Server.WebHost.Model.Shape, Server.WebHost">
          <knownType type="Server.WebHost.Model.Square, Server.WebHost" />
          <knownType type="Server.WebHost.Model.Circle, Server.WebHost" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>

</configuration>